* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width/height */
}

html,
body {
    overflow: hidden; /* Prevent scrollbars */
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none; /* Remove potential focus outline */
    display: block; /* Ensure it behaves like a block element */
    width: 100%;
    height: 100%;
}
